{{#partial "contenido"}}
<div class="container container-upper">
    <div>
    <h4> Bienvenido a tu portal {{ usuario.nombreUsuario }} </h4>
    <p> Aquí podras ver y gestionar a tus mascotas </p>
    </div>

    <form action="/mascotas" method="GET">
         <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="searchNombre" placeholder="Mascota a filtrar" name="likeNombre" value="{{ likeNombre }}">
          </div
          <div class="form-group col-md-2">
          <button type="submit" class="btn btn-primary">Buscar</button>
          </div>
         </div>
    </form>

    <div class="form-group col-md-6" style="padding-left:2em;">
      <a class="btn btn-primary" href="/mascotas/nueva">Agregar mascota</a>
    </div>
   <div style="padding:2em;">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
     {{#each mascotas}}
      <div class="col p-2">
        <div class="card shadow-sm p-2">
          <img src="{{ foto }}" class="card-img-top" alt="{{ nombre }}">
            <div class="card-body">
                <h6 class="card-title">
                {{ apodo }}
                <span class="badge rounded-pill bg-info"> {{ sexo }}</span>
                </h6>
                <p class="card-text">{{ descripcion }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ANIMAL: {{ tipo }}</li>
                <li class="list-group-item">NOMBRE: {{ nombre }}</li>
                {{#each caracteristicas}}
                <li class="list-group-item">{{ key }}: {{ value }}</li>
                {{/each}}
            </ul>
            <div class="card-footer">
                <small class="text-muted">Edad: {{ edadAprox }}</small>
            </div>
          </div>
      </div>
      {{/each}}
    </div>
   </div>

</div>

{{/partial}}

{{>layout.hbs}}